{% extends "layout.html" %}

{% block content %}   
    
        <!-- News Content -->
        <div class="news-section mt-5">
            <h1 class="mb-4">Latest News</h1>

            <!-- News Item 1 -->
            <div class="news-item mb-4">
                <h3>News title 1</h3>
                <p class="text-muted">Published on September 1, 2024</p>
                <p>Description 1.</p>
                <a href="/news/climate-impacts-study" class="btn btn-primary btn-sm">Read more</a>
            </div>

            <!-- News Item 2 -->
            <div class="news-item mb-4">
                <h3>News title 1</h3>
                <p class="text-muted">Published on August 20, 2024</p>
                <p>Description 2.</p>
                <a href="/news/climate-adaptation-workshop" class="btn btn-primary btn-sm">Read more</a>
            </div>

            <!-- News Item 3 -->
            <div class="news-item mb-4">
                <h3>News title 1</h3>
                <p class="text-muted">Published on July 15, 2024</p>
                <p>Description 3.</p>
                <a href="/news/erc-collaboration" class="btn btn-primary btn-sm">Read more</a>
            </div>

            <!-- Add more news items as needed -->
        </div>
    </div>

{% endblock %}